<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJr_vQ5gkIcrIh0VOqqyaQUfKDnoUXSo4</string>
	<key>GCM_SENDER_ID</key>
	<string>694747704856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFcmDemo</string>
	<key>PROJECT_ID</key>
	<string>fcm-demo-662cb</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-demo-662cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694747704856:ios:15361ea79ff49bc1f75d6d</string>
</dict>
</plist>